* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  position: relative;
}

input:focus {
  outline: none;
}

.title a {
  color: white;
}

a.about {
  color: #a9508b;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  color: white;
  background-color: #35424a;
  padding: 2rem;
  border-bottom: 1px solid magenta;
}

.nav h1 {
  font-size: 1.5rem;
}

.nav span {
  color: #a9508b;
}

.services,
.home {
  color: white;
}

.right-nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #35424a;
  color: white;
  padding: 1.4rem;
}

.right input {
  padding: 0.5rem;
  border: none;
}

.right button {
  padding: 0.5rem;
  background-color: #e8491d;
  color: white;
  border: none;
}

.right button:hover {
  cursor: pointer;
  background-color: #ee562c;
}

.main-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding: 0.5rem 1rem;
  margin-top: 20px;
}

.main-box h4 {
  margin-bottom: 15px;
  margin-top: 5px;
}

.main-box .left {
  flex-basis: 70%;
}

.main-box .right {
  flex-basis: 30%;
  background-color: #35424a;
  color: white;
  padding: 2rem;
}

article.left p.below {
  padding: 0.9rem;
  background-color: #35424a;
  color: white;
  margin-top: 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 1rem;
  background-color: #35424a;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  color: white;
  margin-top: 1rem;
}
